/*For all hyperlinks global*/
a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

a:visited{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

a:hover{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: rgb(1, 197, 1);
}

a:active{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: green;
}

/*Navigation Bar*/
nav a{
    text-decoration: none;
    color: #cc8400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}

nav a:hover{
    color: rgb(208, 255, 0);
}

#branding a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #cc8400;
    font-size: 100%;
    margin-left: 25%;
    letter-spacing: 1px;
}

/*showcase1*/
#showcase h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 600%;
    color: rgb(255, 255, 255);
}

#showcase h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 160%;
    color: white;
}

#showcase special{
    color: yellow;
}

/*Box1*/
#box1 #box1-box1 h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 230%;
    color: #cc8400;
}

#box1 #box1-box1 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 140%;
    color: #A9A9A9;
}

/*Box2*/
#box2 #box2-box1 h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 230%;
    color: #cc8400;
}

#box2 #box2-box1 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 140%;
    color: #A9A9A9;
}

/*Box3*/
#box3 #box3-box1 h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 350%;
    color: black;
}

#box3 #box3-box1 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    color: rgb(129, 129, 129);
}

#box3 green{
    color: rgb(2, 180, 2);
}

/*About section fonts*/
#opening-statement #statement-box h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 300%;
    color: white;
}

#opening-statement #statement-box p{
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
    color: rgb(129, 129, 129);
}

#opening-statement special{
    color: yellow;
}

#title special{
    color: yellow;
}

#team #statement-box h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 300%;
    color: white;
}

.teambox h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 200%;
    color: white;
}

.teambox p{
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    color: rgb(129, 129, 129);
}

#team special{
    color: yellow;
}

/*weekly predictions fonts*/
#title h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 400%;
    color: white;
}

#title p{
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    color: white;
}

#matchup{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    color: white;
}

#percentage{
    font-family: 'Work Sans', sans-serif;
    font-size: 400%;
    color: yellow;
}

/*Overall Predictions section*/
#teamstats h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 250%;
    color: white;
}

#teamstats h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
    color: rgb(167, 167, 167);
}

#teamstats ranking{
    color: yellow;
    font-size: 200%;
}

#intro h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 250%;
    color: white;
}

#intro p{
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
    color: rgb(129, 129, 129);
}

#links{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;
}

/*Footer*/
#footer #footer-branding{
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    color: #cc8400;
}

#footer #copywrite{
    font-size: 100%;
    color: #cc8400;
    font-family: 'Work Sans', sans-serif;
}