/*GLOBALS*/
body{
    padding: 0;
    margin: 0;
    background-color: #313131;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.container2{
    width: 70%;
    margin: auto;
    overflow: hidden;
}


.vidcontainer{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}

/*Navigation Bar*/
header{
    min-height: 60px;
    width: 100%;
    background-color: #242424;
    position: fixed;
    box-shadow: 0px 4px 8px 2px #0e0e0e;
    z-index: 2;
}

header li{
    display: inline;
    padding: 0 20px 0 20px; /*top, right, bottom, left*/
}

header nav{
    margin-top: .75%;
    float: right;
    list-style-type: none;
}

#branding{
    float: left;
    margin-left: 1.5%;
}

/*showcase1*/
#showcase{
    min-height: 100%;
    /*background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(images/hill.jpg) no-repeat;*/
    background-size: cover;
}

#nflFilm{
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: .75;
}

#showcase h1{
    position: fixed;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#showcase h2{
    position: fixed;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 56%;
    left: 50%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

/*Box1*/
#box1{
    background-color: #414141;
    border-radius: 30px;
    width: 60%;
    margin-left: 21%;
    margin-top: 2%;
    box-shadow: 0 7px 10px 3px #0e0e0e;
    margin-top: 4%;
    transition: .5s;
}

#box1 #box1-box1{
    width: 50%;
    float: right;
    text-align: left;
}

#box1 #box1-box2{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 4.5%;
}

#box1:hover{
    transform: scale(1.06);
    box-shadow: 0 7px 10px 3px #00ff37;
}

/*Box2*/
#box2{
    background-color: #414141;
    border-radius: 30px;
    width: 60%;
    margin-left: 21%;
    margin-top: 2%;
    box-shadow: 0 7px 10px 3px #0e0e0e;
    margin-top: 4%;
    transition: .5s;
}

#box2 #box2-box1{
    width: 50%;
    float: right;
    text-align: left;
}

#box2 #box2-box2{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 4.5%;
}

#box2:hover{
    transform: scale(1.06);
    box-shadow: 0 7px 10px 3px #00ff37;
}

/*Box3*/
#box3{
    background-color: #D4D4D4;
    width: 100%;
    margin-top: 4.5%;

}

#box3 img{
    filter: drop-shadow(0px 7px 10px #0e0e0e);
}

#box3 #box3-box1{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}

#box3 #box3-box2{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}

/*Footer*/
#footer{
    background-color: #242424;
    margin-top: 4%;
    padding: .5%;
}

#footer #footer-branding{
    float: left;
}

#footer #copywrite{
    float: right;
    margin-top: .75%;
}