.specialcontainer{
    width: 50%;
    margin: auto;
    overflow: hidden;
}

#title{
    text-align: center;
    margin-bottom: 3%;
    background:  linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url(images/footballplay.jpg) no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 70%;
    background-size: 100%;
}

#title h1{
    margin-top: 15%;
    font-size: 500%;
}

#intro{
    text-align: center;
    background-color: #242424;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

#predictiontable{
    background-color: #353535;
    border-radius: 30px;
    box-shadow: 0 8px 10px 8px #202020;
    width: 90%;
    margin-left: 5%;
}

#predictiontable .gamebox1{
    float: left;
    width: 25%;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 6.25%;
    border-radius: 30px;
    background: rgb(213,18,18);
    background: linear-gradient(90deg, rgba(213,18,18,1) 0%, rgba(45,33,148,1) 100%);
    text-align: center;
    box-shadow: 0 8px 8px 4px #1b1b1b;
    transition: .2s;
}

.gamebox1:hover{
    transform: scale(1.1);
    box-shadow: 0 7px 10px 3px #1d1d1d;
}

#links{
    text-align: center;
    letter-spacing: 8%;
}

#predictiontable img{
    width: 35%;
}