<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="fonts.css" />
        <link rel="stylesheet" type="text/css" href="aboutstyle.css"/>
        <link rel="stylesheet" type="text/css" href="weekstyle.css"/>
                <!--This is important for responsive design-->
        <meta name="viewport" content="width=device-width">
            <title>Magic32</title> 
    </head>
    <body>
    <!--Navigation Bar-->
        <header>
            <div id="branding">
                <img src="images/logo.png" width="13.5%">
            </div>
            
            <nav>
                <ul>
                    <li><a href="home.html">home</a></li>
                    <li><a href="weekpredicition.html">weekly</a></li>
                    <li><a href="overallprediction.html">overall</a></li>
                    <li><a href="about.html">about</a></li>
                </ul>
            </nav>
        </header>

        <section id="title">
            <div class="container">
                <h1><special>Magic32</special> Weekly Predictions</h1>
            </div>
        </section>

        <section id="intro">
                <div class="specialcontainer">
                    <h1>How Does This Work?</h1>
                    <p>Magic32 uses the NFLGame API to collect historical NFL team data all
                        the way from the 2009 regular season. We then calculate based on our collect stats to
                        determine the win outcome of each side of the matchup.
                    </p>
                </div>
                <section id="menu">
                    <div class="dropdown">
                        <button class="dropbtn">Select Week</button>
                        <div class="dropdown-content">
                            <a href="#week-1">Week 1</a>
                            <a href="#week-2">Week 2</a>
                            <a href="#week-3">Week 3</a>
                            <a href="#week-4">Week 4</a>
                            <a href="#week-5">Week 5</a>
                            <a href="#week-6">Week 6</a>
                            <a href="#week-7">Week 7</a>
                            <a href="#week-8">Week 8</a>
                            <a href="#week-9">Week 9</a>
                            <a href="#week-10">Week 10</a>
                            <a href="#week-11">Week 11</a>
                            <a href="#week-12">Week 12</a>
                            <a href="#week-13">Week 13</a>
                            <a href="#week-14">Week 14</a>
                            <a href="#week-15">Week 15</a>
                            <a href="#week-16">Week 16</a>
                            <a href="#week-17">Week 17</a>
                        </div>
                    </div>
                </section>
            </section>

        <section id="predictiontable">
            <div class="container" id="weekly-predictions">
                <div id="table">

                    <!--This generates each week's headers and own id to match links-->
                    <div v-for="(week, index) in weeks" style="margin-top: 20px; clear:both;" :id="`week-${index+1}`"> 
                        <h3 style="float: left; width: 100%; font-family: 'Work Sans', sans-serif; color: yellow; font-size: 300%; text-align: center;">
                            Week {{ index + 1}}
                        </h3>

                        <div v-for="game in week" class="gamebox1" v-bind:style="{background: `linear-gradient(90deg, ${teamColors[game.away]} 0%, ${teamColors[game.home]} 100%)` }">
                            <img :src="`images/${game.away}.png`">
                            <img :src="`images/${game.home}.png`">
                            <h1 id="matchup">
                                {{ teamNames[game.away] }}
                                @
                                {{ teamNames[game.home] }}
                            </h1>
                            <h1 id="percentage1"> <!--ALGORITHM HERE-->
                               <!-- {{ parseInt(game.homeWinRate * 100)}}%-->
                               {{ 100-(parseInt(((game.homeWinRate + (1-game.awayWinRate))/2)*100))}}%<!--This finds average between home win rate and away lose rate in percentage form-->
                            </h1>
                            <h1 id="percentage2">
                                {{ parseInt(((game.homeWinRate + (1-game.awayWinRate))/2)*100)}}%
                            </h1>
                        </div>
        
                    </div>

                    <!--
                    <div class="gamebox1">
                        <img src="images/redskins.png">
                        <img src="images/vikings.png">
                        <h1 id="matchup">Redskins vs Vikings</h1>
                        <h1 id="percentage">62%</h1>
                    </div>
                    
                    <div class="gamebox2">
                            <img src="images/seahawks.png">
                            <img src="images/falcons.png">
                            <h1 id="matchup">Seahawks vs Falcons</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox3">
                            <img src="images/chargers.png">
                            <img src="images/bears.png">
                            <h1 id="matchup">Chargers vs Bears</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox4">
                            <img src="images/giants.png">
                            <img src="images/lions.png">
                            <h1 id="matchup">Giants vs Lions</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox5">
                            <img src="images/jets.png">
                            <img src="images/jaguars.png">
                            <h1 id="matchup">Jets vs Jaguars</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox6">
                            <img src="images/bengals.png">
                            <img src="images/rams.png">
                            <h1 id="matchup">Bengals vs Rams</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox7">
                            <img src="images/buccaneers.png">
                            <img src="images/titans.png">
                            <h1 id="matchup">Buccaneers vs Titans</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox8">
                            <img src="images/eagles.png">
                            <img src="images/bills.png">
                            <h1 id="matchup">Eagles vs Bills</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox9">
                            <img src="images/broncos.png">
                            <img src="images/colts.png">
                            <h1 id="matchup">Broncos vs Colts</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox10">
                            <img src="images/cardinals.png">
                            <img src="images/saints.png">
                            <h1 id="matchup">Cardinals vs Saints</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox11">
                            <img src="images/panthers.png">
                            <img src="images/49ers.png">
                            <h1 id="matchup">Panthers vs 49ers</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox12">
                            <img src="images/raiders.png">
                            <img src="images/texans.png">
                            <h1 id="matchup">Raiders vs Texans</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox13">
                            <img src="images/browns.png">
                            <img src="images/patriots.png">
                            <h1 id="matchup">Browns vs Patriots</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox14">
                            <img src="images/packers.png">
                            <img src="images/chiefs.png">
                            <h1 id="matchup">Packers vs Chiefs</h1>
                            <h1 id="percentage">62%</h1>
                    </div>

                    <div class="gamebox15">
                            <img src="images/dolphins.png">
                            <img src="images/steelers.png">
                            <h1 id="matchup">Dolphins vs Steelers</h1>
                            <h1 id="percentage">62%</h1>
                    </div>
                    -->
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="container">
                <div id="footer-branding">
                    <img src="images/logo.png" width="13%">
                </div>
                <div id="copywrite">
                    <p>Built and Designed by Kyle, Andrew, and Caleb</p>
                </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="team-names.js"></script>
        <script src="team-colors.js"></script>
        <script src="stats.js"></script>
        <script src="xml-to-json.js"></script>
        <script src="overall-rankings.js"></script>
    </body>    
</html>